<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<h2>留言展示</h2>

<ul class="shortcut-buttons-set">
	<li><%= link_to "返回控制面板", admin_root_path(), :class => "shortcut-button home" %></li>
</ul>

<div class="clear"></div>

<div class="content-box">
	<div class="content-box-header">
		<h3>留言列表</h3>
	</div>

	<div class="content-box-content">
		<% if @comments.blank? %>
			<p>暂无任务</p>
		<% else %>
			<%= render "entries" %>
		<% end %>
	</div>
</div>