<!DOCTYPE html>
<html>
<head>
  <title>似乎没有这个页面哦。。。。 (404)</title>
  <style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  </style>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <h1>这个页面或许不存在，也有可能是别的原因,现在网站还在测试期间，很抱歉给您的体验带来了不便。</h1>
    <p>如果有问题请参照我们帮助文档里面的官方解释，或者发送邮件到wangyu_fine@sina.com为我们网站设计提出您宝贵的建议</p>
  </div>
</body>
</html>
