<div>
  <h2 style ="border-bottom: 2px solid black; margin: 2px; width: 200px">站内信</h2>
  <p>
    <%= "系统消息(#{@system_messages.count})" %>
  </p>
  <p>
    <%= "发件箱(#{@sender_box.count})" %>
  </p>
  <p>
    <%= "收件箱(#{@receiver_box.count})" %>
  </p>
</div>