
<h3>发送信息</h3>

	<div class="content-box-content">
		<%= semantic_form_for(@message, :url => center_messages_path(), :html => { :multipart => true }) do |f| %>
			<%= render :partial => 'form', :object => f %>
		<% end %>
	</div>