ol, ul {
    list-style: none;
    clear: both;
}
#container {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 1024px;
    font-size: 14px;
    color: #555;
}

#container .guider {
    width: 1024px;
    text-align: center;
    text-shadow: 0 1px 1px black;

}

#container h2 {
    font-size: 25px;
    color: #DADADA;
    font-weight: bold;
}

.guider .steps {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.steps .step-model {
    display: block;
    overflow: hidden;
    width: 144px;
    height: 148px;
    background-repeat: no-repeat;
    float: left;
}

.steps .step1 {
    background-image: url(/images/main_img_1.png);
    background-position: left -182px;

}

.steps .step2 {
    background-image: url(/images/main_img_2.png);
    background-position: left -182px;
}



.steps .step3 {
    background-image: url(/images/main_img_3.png);
    background-position: left -182px;

}
.steps .step4 {
    background-image: url(/images/main_img_4.png);
    background-position: left -182px;

}
.steps .step5 {
    background-image: url(/images/main_img_5.png);
    background-position: left -182px;

}
.steps .step6 {
    background-image: url(/images/main_img_6.png);
    background-position: left -182px;
}

.steps .chooced{
    background-position: left -2px;
}


.steps .arrow {
    margin-top: 40px;
    display: block;
    overflow: hidden;
    width: 16px;
    height: 24px;
    background-image: url(/images/main_img7.png);
    background-repeat: no-repeat;
    float: left;
}

.alt {
    background-color: #FFF8E8
}

.guider .step-item-detail {
    margin: 10px;
    display: block;
    overflow: hidden;

    /*    border: 1px solid #DADADA;*/
    width: 1024px;
    height: 50px;
}

.guider .step-item-detail .item{
    width: 1024px;
    height: auto;
    position: absolute;
    z-index: 2;
    text-shadow: 0 1px 1px #7D7D7D;
    font-size: 30px;
    font-family:黑体;
    padding: 5px;
}

.latest-record {


}

.latest-record .text{
    display: block;
    overflow: hidden;
    width: 336px;
    height: 46px;
    background-image: url(/images/main_img_la.png);
    background-repeat: no-repeat;
}

table {
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0px 0px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.record tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    height: 66px;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

.mrw_list {
    font-weight: normal;
    color: #666;
    background: #FAFAFA;
    padding: 5px 8px;
    border: 1px solid #ccc;
    width: 100%;
    border-top: 0px;
    font-size: 12px;
}

.mrw_list th {
    color: #666;
    height: 31px;
    font-weight: normal;
    text-align: center;
    border-top: 1px solid #ccc;

}

.mrw_list td {

    color: #666;
    padding: 10px 8px;
    height: 22px;
    border-bottom: 1px solid #ccc;


}

.mrw_list td a {
    color: #005ED9;
    text-decoration: none;

}

.mrw_list .table-head {
    background:url(/images/main_box2_middle.png) top repeat-x;
    height:32px;
}

.orange1 {
    color: #FF3F00;
    font-weight: bold;
}

.record-list-nav {
    list-style: none;
    float:right;
    display: block;
}

.record-list-nav li {
    float: left;
    height: 16px;
    margin: 2px;
}

.record-list-left {
    width: 137px;
    min-height: 100px;
    margin: 1px;
    /*    border: 1px solid #005ED9;*/
}

.record-list-right {
    width:880px;
    min-height: 100px;
    margin:1px;
}

.profile-view {
    margin: 0 auto;
    width: 1024px;
    min-height: 450px;
}

#mainbar-full {
    width: 1024px;
}

.subheader {
    border-bottom: 1px solid #666;
    height: 34px;
    clear: both;
    margin-bottom: 15px;
}

.subheader h1, .subheader h2 {
    float: left;
    font-size: 170%;
    line-height: 34px;
    margin-bottom: 0px;
}

#user-avatar {
    padding: 20px 20px 8px 20px;
}

.summaryinfo {
    color: #808185;
    text-align: center;
}

.summarycount {
    text-align: center;
    color: #808185;
    font-size: 350%;
    font-weight: bold;
}

.user-details {
    color: #888;
    line-height: 17px;
}

.user-details td {
    color: black;
    padding: 4px 0px 4px 0px;
}

.cool {
    color: #999 !important;
}

.supernova {
    color: #FE7A15 !important;
}



.relativetime {
    font-weight: bold;
    text-decoration: none;
}

.no-overflow {
    width: 230px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
}

#user-about-me {
    border: none;
    background-color: #EEE;
    line-height: 120%;
    padding: 10px;
    margin: 10px;
    height: 225px;
    overflow: auto;

    text-align: left;
    width: 380px;
}

.user-stats-table {
    margin-bottom: 15px;
    float: left;
    clear: left;
}

.summary-title {
    clear: both;
}

.summary-header {
    vertical-align: middle;
    padding-left: 10px;
}

.summary-header h3  {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.wide-tag-col {
    width: 230px;
}

#tags-table .answer-votes {
    margin-right: 5px;
    width: 25px;
    margin-top: 2px;
    display: inline-block;
    float: none;
}

.answer-votes {
    cursor: pointer;
}

.answer-votes {
    color: #555;
    text-align: center;
    background-color: #EEE;
    float: left;
    font-weight: bold;
    padding: 4px;
    padding-bottom: 5px;
    width: 22px;
    height: 15px;
    text-decoration: none;
    font-size: 110%;
}

.post-tag {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 2.4;
    white-space: nowrap;
}

.item-multiplier {
    font-size: 120%;
    font-weight: bold;
    margin-right: 4px;
    color: #444;
}

.repu {
    display: block;
    text-align: left;
}

.repu a{
    display: block;
    color: #008BCB;
    text-decoration: underline;
}

.repu .leftColumn {
    float: left;
    width: 175px;
}

.repu .rightColumn {
    float: left;
    width: 450px;
    min-height: 25px;
    border-bottom: 2px dashed #3E6D8E;
    margin-bottom: 10px;
}


.content-box {
    border: 1px solid #cccccc;
    margin: 20px 0 20px 0;
    background: #ffffff;
}
.content-box-header {
    background: #e5e5e5 url('../../images/admin/bg-content-box.gif') top left repeat-x;
    margin-top: 1px;
    height: 40px;
}
.content-box-header h3 {
    padding: 12px 15px 10px;
    float: left;
}
ul.content-box-tabs {
    float: right;
    padding: 12px 15px 0 0 !important;
    margin: 0 !important;
}
ul.content-box-tabs li {
    float: left;
    margin: 0;
    padding: 0 !important;
    background-image: none !important;
}
ul.content-box-tabs li a {
    color: #333333;
    padding: 8px 10px;
    display: block;
    margin: 1px;
    border-bottom: 0;
}
ul.content-box-tabs li a:hover { color: #57a000; }
ul.content-box-tabs li a.current {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-bottom: 0;
    margin: 0;
}
.content-box-content {
    padding: 20px;
    font-size: 13px;
    border-top: 1px solid #cccccc;
}

ul.shortcut-buttons-set li {
    float: left;
    margin: 0 15px 0 0;
    padding: 0 !important;
    background: 0;
}
form label {
    display: block;
    font-size: 20px;
    padding: 0 0 10px;
    font-weight: bold;
}
form fieldset legend {
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
}
form p small {
    font-size: 0.75em;
    color: #777777;
}
form input.text-input {
    padding: 6px;
    font-size: 30px;
    background: #ffffff url('../../images/admin/bg-form-field.gif') top left repeat-x;
    border: 1px solid #d5d5d5;
    text-shadow: 0 1px 1px #D7D7D7;
    color: #333333;
}
form select {
    padding: 6px;
    font-size: 13px;
    background: #ffffff url('../../images/admin/bg-form-field.gif') top left repeat-x;
    border: 1px solid #d5d5d5;
    color: #333333;
}
form textarea {
    padding: 6px;
    font-size: 13px;
    background: #ffffff url('../../images/admin/bg-form-field.gif') top left repeat-x;
    border: 1px solid #d5d5d5;
    color: #333333;
}
form .wysiwyg {
    padding: 6px;
    font-size: 13px;
    background: #ffffff url('../../images/admin/bg-form-field.gif') top left repeat-x;
    border: 1px solid #d5d5d5;
    color: #333333;
}
form .small-input { width: 25% !important; }
form .medium-input { width: 50% !important; }
form .large-input {
    width: 97.5% !important;
    font-size: 16px !important;
    padding: 8px !important;
}
form textarea {
    width: 97.5% !important;
    font-family: Arial, Helvetica, sans-serif;
}
form select {
    padding: 4px;
    background: #ffffff;
}
form input[type="checkbox"] {
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none repeat scroll 0 0 #DDDDDD;
    color: #0000FF;
}
form input[type="radio"] {
    padding: 0;
    background: none;
    border: 0;
    font-family:inherit; font-size:inherit; font-weight:inherit;

}

.simple_captcha {
    display: block;
    border: 0px !important;
    margin-left: 380px;
}

#post-skill-list-input label{
    font-size: 14px;
}

.tabs {
    position: relative;
    margin: 10px 0 0 0;
    height: 26px;
    padding: 6px 10px;
    background: url('/images/tab_background.gif') 0 0 repeat-x;
    border: 1px solid #DDD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

ul.tabs li {
    list-style-type: none;
    margin: 0;
    display: inline;

}

ul.tabs li a {
    float: left;
    margin-right: 10px;
    height: 26px;
    padding: 0 8px;
    line-height: 26px;
    font-size: 14px;
    color: #666;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-decoration: none;
}

li.selected a{
    min-height: 1px;
    min-width: 1px;
    position: relative;
    top: -1px;
    font-weight: bold;
    color: #333;
    background: white;
    border: 1px solid #CCC;
    border-right-color: #EEE;
    border-bottom-color: #EEE;
}


.shortcut-button {
	border: 1px solid #cccccc;
	background: #f7f7f7 none no-repeat center 10px;
	display: block;
	width: 120px;
	margin: 0 0 20px 0;
	display: block;
	padding: 73px 10px 15px 10px;
	text-align: center;
	color: #555555;
	font-size: 13px;
	line-height: 1.3em;
}
.shortcut-button:hover {
	background-color: #ffffff;
	color: #57a000;
}
.shortcut-button.add { background-image: url(../../images/admin/icons/pencil_48.png); }

.shortcut-button.edit { background-image: url(../../images/admin/icons/paper_content_pencil_48.png); }
.shortcut-button.image_add { background-image: url(../../images/admin/icons/image_add_48.png); }
.shortcut-button.add_clock { background-image: url(../../images/admin/icons/clock_48.png); }
.shortcut-button.statistics { background-image: url(../../images/admin/icons/comment_48.png); }

.shortcut-button.account { background-image: url(../../images/admin/dashboard/account_48.png); }
.shortcut-button.config { background-image: url(../../images/admin/dashboard/config.png); }
.shortcut-button.home { background-image: url(../../images/admin/dashboard/home.png); }
.shortcut-button.user { background-image: url(../../images/admin/dashboard/user.png); }
.shortcut-button.password { background-image: url(../../images/admin/dashboard/privacy.png); }
.shortcut-button.episode { background-image: url(../../images/admin/dashboard/episode.png); }
.shortcut-button.category { background-image: url(../../images/admin/dashboard/category.png); }
.shortcut-button.music { background-image: url(../../images/admin/dashboard/music.png); }
.shortcut-button.page { background-image: url(../../images/admin/dashboard/page.png); }
.shortcut-button.feedback { background-image: url(../../images/admin/dashboard/feedback.png); }
.shortcut-button.product { background-image: url(../../images/admin/dashboard/product.png); }
.shortcut-button.artist { background-image: url(../../images/admin/dashboard/artist.png); }
.shortcut-button.press { background-image: url(../../images/admin/dashboard/press.png); }
.shortcut-button.rank { background-image: url(../../images/admin/dashboard/config_48.png); }



ul.shortcut-buttons-set li {
	float: left;
	margin: 0 15px 0 0;
	padding: 0 !important;
	background: 0;
}

.message {
padding: 10px 10px 10px 35px;
background: url('/images/octofication.png') 0 50% no-repeat #DCF7DD;
border: 1px solid #BBD2BC;
border-top-color: #D1EAD2;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
margin: 10px;
}

#internalContent {
background: url(/images/internal_content_bg.gif) repeat-y;
margin-bottom: 55px;
margin-left: 15px;

text-align: center;
width: 902px;

display: block;
}

#internalContent #projectDetailsOverview {
padding: 10px 17px;

}

#internalContent a, a {
cursor: pointer;
outline: none;
color: #0094CC;

}

#projectDetailsOverview .column1 {
width: 250px;
}

#projectDetailsOverview .column1, #projectDetailsOverview .column2 {
margin-right: 40px;
}

#projectDetailsOverview .column1, #projectDetailsOverview .column2, #projectDetailsOverview .column3, #projectDetailsOverview .column4 {
float: left;
}

#projectDetailsOverview .column2 {
width: 80px;
}

#projectDetailsOverview .column3 {
width: 295px;
}

#projectDetailsOverview .column4 {
text-align: right;
}


#projectDetailsContent {
padding: 13px 20px 20px 20px;
text-align: left;
}

#bidders-section {
width: 886px;
margin-left: auto;
margin-right: auto;
background: none;
text-align: left;
}

#bidders-section h2 {
background-color: #F4F4F4;
padding: 0px 0px 10px 20px;
color: #111;
font-size: 18px;
}

.bidHead, #show-only, .current-search {
-moz-border-radius-topright: 10px;
-moz-border-radius-topleft: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-top-left-radius: 10px;
background-color: white;
border-top-right-radius: 10px 10px;
border-top-left-radius: 10px 10px;
}

.bidHead {
width: 100%;
height: 29px;
background: url('/images/mod_top_blue1.png');
}

.bidHead span, .bidHead-grey span {
color: white;
font-weight: bold;
line-height: 33px;
padding: 0px;
}

.bidHead .th0 {
float: left;
text-align: center;
width: 215px;
}

.bidHead .th1 {
float: left;
text-align: center;
width: 65px;
}

.bidHead .th2 {
float: left;
text-align: center;
width: 200px;
}

.bidHead .th3 {
float: left;
text-align: center;
width: 200px;
}

.bidHead .th4 {
float: left;
text-align: center;
width: 230px;
}

#projectDetails, #projectServiceProviders {
background: white;
width: 866px;
margin-left: auto;
margin-right: auto;
display: block;
}

.serviceProviderDetails {
padding: 8px;
border-bottom: 1px solid #DADADA;
}

.bidWrap {
font-size: 12px;
}

.brwrap .brsec {
float: left;
margin: 10px 0 7px 0;
text-align: center;
}

.brwrap .top1 {
width: 215px;
text-align: left;
padding-left: 10px;
}

.brwrap .top2 {
width: 65px;
}

.brwrap .top3 {
width: 200px;
}

.brwrap .top4 {
width: 200px;
padding-top: 5px;
}

.brwrap .top5 {
width: 230px;
padding-top: 15px;
margin-top: 0;
margin-bottom: 0;
}

.bidWrap .msg {
padding: 5px 10px;
width: 675px;
float: left;
}