<div class="content-box">
	<div class="content-box-header">
		<h3>注册用户</h3>
	</div>

	<div class="content-box-content">
		<%= semantic_form_for(@user, :url => users_path(), :validate => true , :html => { :multipart => true }) do |f| %>
          <%= f.semantic_errors :password %>
			<%= render :partial => 'form', :object => f %>
		<% end %>
	</div>
</div>