<div id="container">
            <div class="guider">
                <h2>How it works - 6 easy steps</h2>
                <div style="height:148px; ">
                    <ul class="steps">
                        <li class="step-model" style="width:40px;height: 10px;"> </li>
                        <li class="step1 step-model"></li>
                        <li class="arrow"></li>
                        <li class="step2 step-model"></li>
                        <li class="arrow"></li>
                        <li class="step3 step-model"></li>
                        <li class="arrow"></li>
                        <li class="step4 step-model"></li>
                        <li class="arrow"></li>
                        <li class="step5 step-model"></li>
                        <li class="arrow"></li>
                        <li class="step6 step-model"></li>
                    </ul>
                </div>
                <div class="step-item-detail">

                </div>
            </div>

            <div class="latest-record">
                <div class="text"></div>
                <table class="mrw_list" cellspacing="0" cellpadding="0" border="1">
                    <tbody><tr style="" class="table-head">
                            <th width="9%" align="left">任务赏金</th>
                            <th width="34%" align="left">任务标题</th>
                            <th width="9%">投标数量</th>
                            <th width="11%">任务买家</th>
                            <th width="16%">所需技能</th>
                            <th width="9%">任务进度</th>
                            <th width="12%">剩余时间</th>
                        </tr>
                        <!--神马网-->
                        <!--神马网-->
                        <!---->
                        <tr style="background-color: rgb(255, 255, 255); ">
                            <td><strong class="orange1">￥1100-1500</strong></td>
                            <td><a href="http://task.zhubajie.com/962681/" target="_blank" class="" style="font-weight: normal; ">[962681] 简单注册任务,多个任务.轻松可赚1-4元!</a></td>
                            <td align="center">11</td>
                            <td align="center"><a href="http://quan.zhubajie.com/space-main-uid-4473074.html">moyic</a></td>
                            <td align="center">ajax,php</td>
                            <td align="center">已结束竞标</td>
                            <td align="center"><u class="orange1">18小时25分27秒</u></td>
                        </tr>
                        <!---->
                        <tr style="background-color: rgb(255, 255, 255); ">
                            <td><strong class="orange1">￥4900-8000</strong></td>
                            <td><a href="http://task.zhubajie.com/960858/" target="_blank" class="" style="font-weight: normal; ">[960858] 10秒1元,新手入门超简单任务,即做即付款,在线审,急!</a></td>
                            <td align="center">48</td>
                            <td align="center"><a href="http://quan.zhubajie.com/space-main-uid-4747192.html">小风设计</a></td>
                            <td align="center">鞭打老师,理学论文</td>
                            <td align="center">加价继续投标</td>
                            <td align="center"><u class="orange1">46分34秒</u></td>
                        </tr>
                        <!---->
                        <tr style="background-color: rgb(255, 255, 255); ">
                            <td><strong class="orange1">￥1200-120000</strong></td>
                            <td><a href="http://task.zhubajie.com/963475/" target="_blank" class="" style="font-weight: normal; ">[963475] (为新手打造)10秒一元诚信审核,领取你的第一桶金!急急急</a></td>
                            <td align="center">11</td>
                            <td align="center"><a href="http://quan.zhubajie.com/space-main-uid-1815696.html">草木工西</a></td>
                            <td align="center">数学家教,英语辅导</td>
                            <td align="center">还在竞标哦~</td>
                            <td align="center"><u class="orange1">22小时44分52秒</u></td>
                        </tr>
                        

                    </tbody></table>
            </div>
        </div>
        <div class="ziqiangbang-space" style="width:1500px;height: 20px;"></div>
        