<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag "login", "formtastic" %>

<title>自强帮</title>

</head>
<body>

     <div class="login">
             <% if flash[:notice] -%>
      <div id="notice" style="color: #f00; border: 1px solid #666; margin: 5px;">
          <%= flash[:notice] %>
      </div>
    <% end -%>

                      <%= yield %>

                              
                

     </div>
      <div id="footer">
                            <ul>
                                <li>自强帮</li>
                                <li>@Copyright 2011 Ziqiangbang Team.Inc.All rights reserved</li>
                              </ul>

                                 </div>
</body>
</html>