<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag "login", "formtastic" %>

<title>自强帮</title>

</head>
<body>
     <div class="login">
                  <%#*<div id=input1><form action="" method="get"><input name="http" type="text" size="20" /></form></div>%>
                      <%#*<div id=input2><form action="" method="get"><input name="http" type="text" size="20" /></form></div>%>
                      <%= yield %>

                              
                

     </div>
      <div id="footer">
                            <ul>
                                <li>自强帮</li>
                                <li>@Copyright 2011 Ziqiangbang Team.Inc.All rights reserved</li>
                              </ul>

                                 </div>
</body>
</html>